/*
 *
 * CSS Reset
 *
 */

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
 * World
 */

p {
  font-family: 'Playfair Display', serif;
}

/*
 * Landing Page
 */

 .landingmain {
  background-color: #4b907d;
  position: relative;
  background-image: url(../img/santorini.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  height: 100vh;
}

/* .landing-button {
  letter-spacing: 1px;
  color: #606060;
 }

 #landingButton {
  opacity: 0.3;
  }*/

  .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .leadlanding {
    padding-top: 80px;
  }

/*
 * Footer
 */
 .mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Gallery Page
 */

 #navgallery {
  opacity: 1;
}

.navbar {
  opacity: 0.3;
}

div.carousel-inner > div.carousel-item > img {
  height: 100vh;
}

.card-columns {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  opacity: 1;
}

h5 {
  text-align: center;
}

.card {
  margin-top: 25px;
  /*margin-bottom: 10px;*/
}

/*
 * Gallery Page
 */

 .jumbotron {
 	margin-top: 56px;
 }

 .jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Destinations
 */

 .destinationimage {
   background-image: url(../img/malapascua.jpg);
   z-index: 0;
   background-size: cover;
   background-position: center center;
 }

 .card-img-right {
   height: 250px;
   /*width: 200px;*/
 }

 .taipeiimage {
  background-image: url(../img/taipei.jpg);
  z-index: 0;
  background-size: cover;
  background-position: center center;
  height: 70vh;
 }
 .sidebartaipei {
  width: 100%;
  height: 200px;
 }

/*font-family: 'Coda Caption', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Shrikhand', cursive;*/